# Merge rules are governed by logic in the Workflow Bot. Protect the
# .github/workflows directory (and the merge logic) using CODEOWNERS.
/.github/workflows/ @versoriumx 
/build.assets/tooling/cmd/difftest/ @versoriumx 
